
@{
	var ctrl = ViewContext.RouteData.Values["controller"]?.ToString();
	var action = ViewContext.RouteData.Values["action"]?.ToString();
}

<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" asp-controller="Home" asp-action="Index">
			<span class="align-middle">Eventos</span>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Parametros
			</li>

			<li class="sidebar-item @Html.IsActive("Persona", "Index,Create,Edit,Details,Delete")">
				<a class="sidebar-link" asp-controller="Persona" asp-action="Index">
					<i class="align-middle" data-feather="users"></i> <span class="align-middle">Personas</span>
				</a>
			</li>

			<li class="sidebar-header">
				Estadisticas
			</li>
			<li class="sidebar-item @Html.IsActive("Home", "Index")">
				<a class="sidebar-link" asp-controller="Home" asp-action="Index">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
				</a>
			</li>

			<li class="sidebar-header">
				Eventos
			</li>
			<li class="sidebar-item @Html.IsActive("Evento", "Index,Create,Edit,Details,Delete")">
				<a class="sidebar-link" asp-controller="Evento" asp-action="Index">
					<i data-feather="calendar"></i> <span class="align-middle">Eventos</span>
				</a>
			</li>

			<li class="sidebar-item @Html.IsActive("Venta", "Index,Create,Edit,Details,Delete")">
				<a class="sidebar-link" asp-controller="Venta" asp-action="Index">
					<i class="align-middle" data-feather="tag"></i> <span class="align-middle">Ventas</span>
				</a>
			</li>

			<li class="sidebar-item @Html.IsActive("Boletas", "Index,Create,Edit,Details,Delete")">
				<a class="sidebar-link" asp-controller="Boletas" asp-action="Index">
					<i class="align-middle" data-feather="tag"></i> <span class="align-middle">Boletas</span>
				</a>
			</li>
			
		</ul>
	</div>
</nav>